body {
  background-color: #f8f8f8;
}

#main {
  margin: auto;
  width: 60vw;
}

#title {
  text-align: center;
}

#img-div {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#img-div img {
  margin: 1em auto 0.5em auto;
  display: block;
  max-width: 800px;
  width: 100%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dcdcdc;
  color: black;
  text-align: center;
}

.footer p {
  display: inline-block;
  padding-right: 1em;
}

.footer a {
  color: #b22222;
}
