.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dcdcdc;
  color: black;
  text-align: center;
}

.footer p {
  display: inline-block;
  padding-right: 1em;
}

.footer a {
  color: #b22222;
}
